{$CADDY_URL} {
    handle_path /{$CADDY_API_ENDPOINT}* {
        reverse_proxy {$CADDY_PROXY_URL}
    }
    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}
