{$CADDY_URL}
root * /usr/share/caddy
route /{$CADDY_API_ENDPOINT}/* {
	uri strip_prefix /API_END_POINT
	reverse_proxy {$CADDY_PROXY_URL}
}
route {
    try_files {path} {path}/ /index.html
	file_server
}